*.o
*.d
*.elf
*.adx
*.bin
*.mem
build/
sdkconfig*
*.uint8_t
*.float
Debug/
*.kdev4

.vs/
.vscode/
*.si4project
.tags
.tags_sorted_by_file
*.dat
*.asm
*.list
*.json
*.log
perf.csv
adx/
*.stackdump
.swp
