BR2_riscv=y
BR2_DL_DIR="$(TOPDIR)/../dl"
BR2_JLEVEL=5
BR2_GLOBAL_PATCH_DIR="$(TOPDIR)/../package/patches"
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_PATH="$(TOPDIR)/../toolchain/nds64le-linux-glibc-v5d"
BR2_TOOLCHAIN_EXTERNAL_GCC_7=y
BR2_TOOLCHAIN_EXTERNAL_HEADERS_4_17=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_GLIBC=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_TOOLCHAIN_EXTERNAL_OPENMP=y
BR2_ROOTFS_SKELETON_CUSTOM=y
BR2_ROOTFS_SKELETON_CUSTOM_PATH="$(TOPDIR)/../board/canaan/k510/k510_rootfs_skeleton"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_MDEV=y
BR2_ROOTFS_DEVICE_TABLE=""
BR2_ROOTFS_POST_BUILD_SCRIPT="$(TOPDIR)/../board/canaan/k510/post_build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="$(TOPDIR)/../board/canaan/k510/post-image-crb_v1_2.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="4.17"
BR2_LINUX_KERNEL_DEFCONFIG="k510"
BR2_LINUX_KERNEL_VMLINUX=y
BR2_PACKAGE_BUSYBOX_CONFIG="$(TOPDIR)/../board/canaan/k510/k510_busybox.config"
BR2_PACKAGE_ALSA_UTILS=y
BR2_PACKAGE_ALSA_UTILS_ALSACONF=y
BR2_PACKAGE_ALSA_UTILS_ACONNECT=y
BR2_PACKAGE_ALSA_UTILS_ALSALOOP=y
BR2_PACKAGE_ALSA_UTILS_ALSAUCM=y
BR2_PACKAGE_ALSA_UTILS_ALSATPLG=y
BR2_PACKAGE_ALSA_UTILS_AMIDI=y
BR2_PACKAGE_ALSA_UTILS_AMIXER=y
BR2_PACKAGE_ALSA_UTILS_APLAY=y
BR2_PACKAGE_ALSA_UTILS_APLAYMIDI=y
BR2_PACKAGE_ALSA_UTILS_ARECORDMIDI=y
BR2_PACKAGE_ALSA_UTILS_ASEQDUMP=y
BR2_PACKAGE_ALSA_UTILS_ASEQNET=y
BR2_PACKAGE_ALSA_UTILS_BAT=y
BR2_PACKAGE_ALSA_UTILS_IECSET=y
BR2_PACKAGE_ALSA_UTILS_SPEAKER_TEST=y
BR2_PACKAGE_STRESS_NG=y
BR2_PACKAGE_TINYMEMBENCH=y
BR2_PACKAGE_DOSFSTOOLS=y
BR2_PACKAGE_DOSFSTOOLS_FSCK_FAT=y
BR2_PACKAGE_DOSFSTOOLS_MKFS_FAT=y
BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_E2FSPROGS_RESIZE2FS=y
BR2_PACKAGE_MTD=y
BR2_PACKAGE_MTD_MKFSUBIFS=y
BR2_PACKAGE_MTD_TESTS=y
BR2_PACKAGE_MTD_FLASH_READTEST=y
BR2_PACKAGE_MTD_FLASH_SPEED=y
BR2_PACKAGE_MTD_FLASH_STRESS=y
BR2_PACKAGE_MTD_FLASH_TORTURE=y
BR2_PACKAGE_MTD_INTEGCK=y
BR2_PACKAGE_MTD_NANDBITERRS=y
BR2_PACKAGE_MTD_NANDPAGETEST=y
BR2_PACKAGE_MTD_NANDSUBPAGETEST=y
BR2_PACKAGE_MEMTESTER=y
BR2_PACKAGE_PARTED=y
BR2_PACKAGE_RNG_TOOLS=y
BR2_PACKAGE_PYTHON3=y
BR2_PACKAGE_PYTHON_PIP=y
BR2_PACKAGE_PYTHON_PYCRYPTODOMEX=y
BR2_PACKAGE_LIBDRM=y
BR2_PACKAGE_IPERF=y
BR2_PACKAGE_NTP=y
# BR2_PACKAGE_NTP_NTPD is not set
BR2_PACKAGE_NTP_NTPDATE=y
BR2_PACKAGE_TCPDUMP=y
BR2_PACKAGE_TCPDUMP_SMB=y
BR2_PACKAGE_WPA_SUPPLICANT=y
BR2_PACKAGE_WPA_SUPPLICANT_AP_SUPPORT=y
BR2_PACKAGE_WPA_SUPPLICANT_WIFI_DISPLAY=y
BR2_PACKAGE_WPA_SUPPLICANT_MESH_NETWORKING=y
BR2_PACKAGE_WPA_SUPPLICANT_AUTOSCAN=y
BR2_PACKAGE_WPA_SUPPLICANT_EAP=y
BR2_PACKAGE_WPA_SUPPLICANT_HOTSPOT=y
BR2_PACKAGE_WPA_SUPPLICANT_DEBUG_SYSLOG=y
BR2_PACKAGE_WPA_SUPPLICANT_WPS=y
BR2_PACKAGE_WPA_SUPPLICANT_WPA3=y
BR2_PACKAGE_WPA_SUPPLICANT_CLI=y
BR2_PACKAGE_WPA_SUPPLICANT_PASSPHRASE=y
BR2_PACKAGE_WPA_SUPPLICANT_DBUS=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_SIZE="512M"
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="k510_crb_lp3_v1_2"
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_PYTHON_CYTHON=y
BR2_PACKAGE_HOST_PYTHON_LXML=y
BR2_PACKAGE_HOST_PYTHON_SIX=y
BR2_PACKAGE_HOST_PYTHON_XLRD=y
BR2_PACKAGE_HOST_PYTHON3=y
BR2_PACKAGE_VIDEO_LIB=y
BR2_PACKAGE_OPENCV4=y
BR2_PACKAGE_NNCASE_LINUX_RUNTIME=y
BR2_PACKAGE_DRM_DEMO=y
BR2_PACKAGE_LVGL=y
BR2_PACKAGE_TWOD_DEMO=y
BR2_PACKAGE_ENCODE_APP=y
BR2_TARGET_BOARD_TYPE="crb"
BR2_PACKAGE_DSP_APP_NEW=y
BR2_TARGET_EVB_FIRMWARE_LOAD_ADD=0x1f000000
BR2_PACKAGE_K510_EVB_TEST=y
BR2_TARGET_K510_EVB_TEST_FFT_FIRMWARE=y
BR2_TARGET_K510_EVB_TEST_MAILBOX_FIRMWARE=y
BR2_TARGET_K510_EVB_TEST_SIMD_UMUL8_FIRMWARE=y
BR2_PACKAGE_DSP_LOG=y
BR2_PACKAGE_VENC_LIB=y
BR2_PACKAGE_ALSA_DEMO=y
BR2_PACKAGE_FFMPEG_CANAAN=y
BR2_PACKAGE_AUDIO3A_LIB=y
BR2_PACKAGE_MEDIACTL_LIB=y
BR2_PACKAGE_ISP_TUNINGD=y
BR2_PACKAGE_MAILBOX_DEMO=y
BR2_PACKAGE_DSP_SCHEDULER=y
BR2_PACKAGE_LIVE555_CANAAN=y
BR2_PACKAGE_LIBRTMP=y
BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_LIBOPENSSL=y
BR2_PACKAGE_AI=y
BR2_PACKAGE_CLIENT=y
BR2_PACKAGE_SERVER=y
BR2_PACKAGE_CRYPTO=y
BR2_PACKAGE_TRNG=y
BR2_PACKAGE_PWM=y
BR2_PACKAGE_RTC=y
BR2_PACKAGE_UART=y
BR2_PACKAGE_WATCHDOG=y
BR2_PACKAGE_WRITE_READ_FILE=y
BR2_PACKAGE_WIFI=y
BR2_PACKAGE_AWS_IOT_TEST=y
BR2_PACKAGE_GPIO_KEYS=y
BR2_PACKAGE_RAPIDJSON=y